
/* FLY IN EVENT FLY IN EVENT FLY IN EVENT FLI IN EVENT FLY IN EVENT */
.bird2-container {
  width: 180px;
  height: 180px;
  position: absolute;
  transform: translate(310px,60px);
}


.bird2-wings {
  transform: translateY(29px);
}

.bird2-left-wing {
  transform: rotate(-60deg) scale(.3);
  transform-origin: 180px 189px;

}

.bird2-right-wing {
  transform: rotate(60deg) scale(.3);
  transform-origin: 200px 189px;

}

.bird2-beak {
  transform-origin: 195px 189px;
  animation: beak-wiggle 2s infinite;
}

.bird2-left-eye {
  transform-origin: 179px 176px;
  animation: bird-eye-large 4s infinite;
}

.bird2-right-eye {
  transform-origin: 209px 176px;
  animation: bird-eye-large 4s infinite;
}

.bird2-eyebrows {
  animation:bird-eyebrows 4s infinite ;
  transform-origin: 195px 189px;
}


  .bird2-body-head {
    animation: body-sway 1.5s infinite;
    transform-origin: 195px 189px;
  }

  .bird2-head-face {
    animation: bird-head 1.5s infinite;
    transform-origin: 195px 189px;
  }

  .bird2-left-leg {
    animation: bird-leg 3s infinite;
    transform-origin: 195px 189px;
  }

  .bird2-right-leg {
    animation: bird-leg 3s 1.5s infinite;
    transform-origin: 195px 189px;
  }


/* ON HOVER ON HOVER ON HOVER ON HOVER ON HOVER  ON HOVER  */


@keyframes bird2-hover-flight {
  10%{transform: translate(310px,60px);}

  30%{transform: translate(310px,20px);}
  45%{transform: translate(310px,20px);}
  60%{transform: translate(310px,60px);}
}



.bird2-container:hover .bird2-left-wing {
  animation: wing-flap 2s infinite;

}

.bird2-container:hover .bird2-right-wing {
  animation: wing-flap-right 2s infinite;

}

.bird2-container:hover {
  animation: bird2-hover-flight 2s infinite;
  transform-origin: 195px 189px;
}

.bird2-container:hover .bird2-left-leg{
  animation: bird-leg-hover 2s infinite;

}

.bird2-container:hover .bird2-right-leg{
  animation: bird-leg-hover 2s infinite;

}

.bird2-container:hover .bird2-left-eye {
  animation: bird-eye-hover 2s infinite;

}

.bird2-container:hover .bird2-right-eye {
  animation: bird-eye-hover 2s infinite;

}

.bird2-container:hover .bird2-eyebrows {
  animation: bird-eyebrows-hover 2s infinite;

}

.bird2-container:hover .bird2-body-head {
  animation: bird-body-hover 2s infinite;
}

/* FLY IN FLY IN FLY IN FLY IN FLY IN FLY IN FLY IN FLY IN FLY IN FLY IN FLY IN FLY IN */


@keyframes fly-in-bird2 {
  0% {transform: translate(400px,-500px);}
  20% {transform: translate(400px,-500px);}

}

@keyframes fly-wait-bird2 {
  0% {transform: translate(400px,-500px);}
  100% {transform: translate(400px,-500px);}
}

@keyframes bird2-wing-flap-fly-in {
  30% {transform: rotate(-50deg);}
  35% {transform: rotate(50deg) ;}
  40% {transform: rotate(-50deg) ;}
  45% {transform: rotate(50deg) ;}
  50% {transform: rotate(-50deg) ;}
  55% {transform: rotate(50deg) ;}
  60% {transform: rotate(-50deg) ;}
  65% {transform: rotate(50deg) ;}
  70% {transform: rotate(-50deg) ;}
  75% {transform: rotate(50deg) ;}
  80% {transform: rotate(-50deg) ;}
}

@keyframes bird2-wing-flap-right-fly-in {
  30% {transform: rotate(50deg) ;}
  35% {transform: rotate(-50deg) ;}
  40% {transform: rotate(50deg) ;}
  45% {transform: rotate(-50deg) ;}
  50% {transform: rotate(50deg) ;}
  55% {transform: rotate(-50deg) ;}
  60% {transform: rotate(50deg) ;}
  65% {transform: rotate(-50deg) ;}
  70% {transform: rotate(50deg) ;}
  75% {transform: rotate(-50deg) ;}
  80% {transform: rotate(50deg) ;}
}

.bird2 {
  animation: fly-wait-bird2 7s, fly-in-bird2 2.5s 7s;
  animation-play-state: paused;
}


 .bird2 {
  animation-play-state: running;
}


.bird2-left-wing {
  animation: bird2-wing-flap-fly-in 2.5s 7s;
  animation-play-state: paused;
  transform-origin: 180px 189px;
}

.bird2-right-wing {
  animation: bird2-wing-flap-right-fly-in 2.5s 7s;
  animation-play-state: paused;
}

 .bird2-left-wing {
  animation-play-state: running;
}

 .bird2-right-wing {
  animation-play-state: running;
}
