
.cloud2-container {
  width: 800px;
  margin-bottom: 200px;
}


/* KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES  */

@keyframes cloud1-movement {

  50%{ transform: translateX(-1100px);}

}

@keyframes cloud2-movement {

  50%{ transform: translateX(1100px);}

}





/* STYLES STYLES STYLES STYLES STYLES STYLES STYLES STYLES STYLES STYLES */

/* CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 */

.cloud1-container {
  width: 800px;

}

.cloud1 {
margin-bottom: 200px;
transform: translateX(1000px);
animation: cloud1-movement 60s infinite;
animation-timing-function: linear;
}

.cloud2 {
margin-bottom: 200px;
transform: translateX(-1000px);
animation: cloud2-movement 90s infinite;
animation-timing-function: linear;

}
