
/* KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES  */

@keyframes cloud1-movement {
  100%{ transform: translateX(-1000px) translateY(10px) translateZ(0);}

}

@keyframes cloud2-movement {

  100%{ transform: translateX(-1000px) translateZ(0);}

}

@keyframes cloud3-movement {

  100%{ transform: translateX(1000px)translateZ(0);}

}

@keyframes cloud4-movement {
  0% {opacity: 0}
  20% {opacity: 1}
  100%{transform: translateX(-1200px)translateZ(0);}

}

@keyframes cloud5-movement {
  0% {opacity: 0}
  10% {opacity: 1}
  100%{ transform: translateX(1200px)translateZ(0);}

}

@keyframes cloud6-movement {

  100%{transform: translateX(2500px)translateZ(0);}

}


@keyframes cloud7-movement {
  0% {opacity: 0}
  20%{opacity: 1}
  100%{transform: translateX(-1800px)translateZ(0);}

}



/* STYLES STYLES STYLES STYLES STYLES STYLES STYLES STYLES STYLES STYLES */

/* CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 CLOUD 1 */


.cloud1-container {
  width: 400px;
  position: absolute;
}

.cloud2-container {
  width: 400px;
  position: absolute;
}

.cloud3-container {
  width: 400px;
  position: absolute;
}

.cloud4-container {
  width: 3000px;
  margin-top: 40px;
  position: absolute;
}

.cloud5-container {
  width: 1400px;
  margin-top: 70px;
  position: absolute;
}

.cloud6-container {
  width: 3000px;
  position: absolute;
}

.cloud6b-container {
  width: 3000px;
  position: absolute;
}

.cloud7-container {
  width: 2000px;
  position: absolute;
}

.cloud1 {
margin-bottom: 400px;
transform: translateX(900px) translateY(10px);
animation: cloud2-movement 460s -170s infinite;
animation-timing-function: linear;

}

.cloud2 {
margin-bottom: 400px;
transform: translateX(1000px);
animation: cloud2-movement 340s -190s infinite;
animation-timing-function: linear;

}

.cloud3 {
margin-bottom: 400px;
transform: translateX(-1000px);
animation: cloud3-movement 360s -200s infinite;
animation-timing-function: linear;

}

.cloud4 {
transform: translateX(1000px);
animation: cloud4-movement 240s -90s infinite;
animation-timing-function: linear;

}

.cloud5 {
transform: translateX(-700px) translateY(-50px);
animation: cloud5-movement 120s -20s infinite;
animation-timing-function: linear;

}

.cloud6 {
transform: translateX(-1500px) translateY(-70px);
animation: cloud6-movement 460s -100s infinite;

animation-timing-function: linear;

}


.cloud7 {
margin-top: 200px;
transform: scaleY(.5) translateX(800px) translateY(50px);
animation: cloud7-movement 120s -30s infinite;
animation-timing-function: linear;

}
