/* THE FOX CONTAINER */


.fox-container {
  width: 400px;
  height: 600px;
  /* background: red; */
  perspective: 700px;
  position: absolute;
  z-index: 100;
}

/* KEYFRAMES FOR FOX ANIMATION */

/* EARS EARS EARS EARS EARS EARS */
@keyframes ear-strech {
  10% { transform: scale(1.1,.9);}
  30% { transform: scale(.9,1.1);}
  50% { transform: scale(.9,1.1);}
  65% { transform: scale(1.1,.9);}
  80% {transform: scale(1,1);}
}

@keyframes ear-wiggle-left {
  20% {transform: rotateZ(-10deg);}
  30% {transform: rotateZ(0deg);}
  40% {transform: rotateZ(-10deg);}
  50% {transform: rotateZ(0deg);}
  60% {transform: rotateZ(10deg);}
  70% {transform: rotateZ(0deg);}
  80% {transform: rotateZ(-10deg);}
  90% {transform: translateY(0px);}
}

@keyframes ear-wiggle-right {
  20% {transform: rotateZ(10deg);}
  30% {transform: rotateZ(0deg);}
  40% {transform: rotateZ(-10deg);}
  50% {transform: rotateZ(0deg);}
  60% {transform: rotateZ(10deg);}
  70% {transform: rotateZ(0deg);}
  80% {transform: rotateZ(10deg);}
  90% {transform: translateY(0px);}

}

@keyframes right-ear-hover {
  40% {transform: rotateZ(-10deg);}
  80% {transform: rotateZ(10deg);}
}

@keyframes left-ear-hover {
  40% {transform: rotateZ(10deg);}
  80% {transform: rotateZ(-10deg);}
}


/* EYEBROWS EYEBROWS EYEBROWS */

@keyframes eyebrows-raise-left {
   10% { transform: translateY(-5px); }
   20% { transform: translateY(-5px); }
   30% { transform: translateY(3px);}
   40% { transform: translateY(0px); }
   60% { transform: rotateZ(-30deg);}

 }

   @keyframes eyebrows-raise-right {
      10% { transform: translateY(-5px); }
      20% { transform: translateY(-5px); }
      30% { transform: translateY(3px); }
      40% { transform: translateY(0px); }
      60% { transform: rotateZ(30deg);}
}

/* EYES EYES EYES EYES EYES EYES EYES EYES EYES */
@keyframes eye-large {
  10% { transform: scale(1.2);}
  20% { transform: scale(1.2);}
  25% { transform: scale(.7);}
  40% { transform: scale(1,1);}
  45% { transform: scale(1);}
}



/* NOSE NOSE NOSE NOSE NOSE NOSE NOSE  */

@keyframes nose-wiggle {
  10% {transform: translateY(-2px);}
  20% {transform: translateY(0px);}
  35% { transform: rotate(7deg);  }
  40% { transform: rotate(-7deg);  }
  45% { transform: rotate(7deg); }
  50% { transform: rotate(-7deg);  }
  55% { transform: rotate(7deg);  }
  60% { transform: rotate(-7deg); }
  65% { transform: rotate(7deg); }
  70% { transform: rotate(0deg); }

}

/* MOUTN MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH */

@keyframes mouth-movment {

  10% { transform: scale(1.2);}
  20% { transform: scale(1.2);}
  25% { transform: scale(.7);}
  40% { transform: scale(1,1);}
  45% { transform: scale(1);}


}


/* ARM ARM ARM ARM ARM ARM ARM ARM ARM */

@keyframes arm-wave {
  0% { transform: rotate(0deg);  }
  5% { transform: rotate(30deg);  }
  10% { transform: rotate(-30deg);  }
  15% { transform: rotate(30deg);  }
  20% { transform: rotate(-30deg);  }
  25% { transform: rotate(30deg);  }
  30% { transform: rotate(-30deg);  }
  35% { transform: rotate(30deg);  }
  40% { transform: rotate(-30deg);  }
  45% { transform: rotate(0deg);  }
  100% { transform: rotate(0deg);  }


}

/* FOX BODY FOX BODY FOX BODY FOX BODY */

@keyframes body-sway {
  /* 5% {transform: translateY(0px) scale(1,1);} */
  10% { transform: translateY(-3px) scale(.95,1.05);}
  30% { transform: translateY(10px) scale(1.05,.95);}
  50% { transform: translateY(10px) scale(1.05,.95);}
  65% { transform: translateY(-3px) scale(.95,1.08);}
  80% {transform: translateY(0px) scale(1,1);}
}

/* LEGS LEGS LEGS LEGS LEGS LEGS LEGS LEGS LEGS LEGS LEGS */


/* THE FOX TRANSFORM-ORIGIN FIX. ALL ROTATE AROUND FOX MIDPOINT */

.whole-fox * {
transform-origin: 100px 150px;
}


/* THE FOX SVG GROUPS STYLES */

/* MOUTN MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH MOUTH */

.mouth {
  transform-origin: 94px 132px;
  animation: mouth-movment 2s infinite;
}

/* EYEBROWS EYEBROWS EYEBROWS */
.left-eyebrow {
  animation: eyebrows-raise-left 2s ;
  animation-iteration-count: infinite;
  transform-origin: 81px 106px;
}

.right-eyebrow {
  animation: eyebrows-raise-right 2s  ;
  animation-iteration-count: infinite;
  transform-origin: 108px 106px;
}


/* EYES EYES EYES EYES EYES EYES EYES EYES */

.left-eye {
  animation: eye-large 2s  linear infinite;
  transform-origin: 81px 106px;
}

.right-eye {
  animation: eye-large 2s  infinite;
  transform-origin: 108px 106px;
}

/* NOSE NOSE NOSE NOSE NOSE */
.nose {
  transform-origin: 94px 90px;
  animation: nose-wiggle 3s  infinite;
}


/* ARMS ARMS ARMS ARMS ARMS ARMS ARMS ARMS*/


.left-arm-thumb {
  transform: rotate(-60deg);
  animation: arm-wave 2s 3s infinite;
}

.right-arm-thumb {
  transform: rotate(70deg);
  animation: arm-wave 2s 3.2s infinite;
   2s
}

/* MAIN BODY MAIN BODY MAIN BODY MAIN BODY */
.body-face-ears {
  animation: body-sway 2s 2s  infinite;
}

.ears {
  animation: ear-strech 2s infinite;
  transform-origin: 100px 130px;
}


/* EAR EAR EAR EAR EAR EAR EAR EAR EAR EAR */
.left-ear {
  transform-origin: 94px 130px;
  animation: ear-wiggle-left 4s infinite;
}

.right-ear {
  transform-origin: 94px 130px;
  animation: ear-wiggle-right 4s infinite;
}
