
/* GENERAL STYLES FOR THE PAGE */


body {
  display: flex;
  justify-content: center;
  align-items: center;


}


.scene {
  width: 90%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 20px;
  position: relative;

}

.sky-container {
  /* background: red; */
  /* background-image: linear-gradient(#b5b3b3, #ffffff); */
  width: 1400px;
  position: absolute;
  transform: translatey(-10px);


}

.mount-container {
  width: 700px;

  position: absolute;
  transform: translatey(-150px) ;

}

.mountain-container {
  width: 1450px;
  position: absolute;
}

.hills-container {
  width: 1450px;
  position: absolute;
  margin-top: 100px;
}

.ground-container {
  width: 1700px;
position: absolute;
margin-left: 110px;
margin-top: 250px;

}

.mountain {
  stroke: #f2f2f2;
}
