

/* GENERAL STYLES FOR THE PAGE */
.scene {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1A1A1A;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 20px;
  position: relative;
  margin-top: 10px;

}




body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}




.sky-container {
  /* background: red; */
  /* background-image: linear-gradient(#b5b3b3, #ffffff); */
  width: 1400px;
  position: absolute;
  transform: translatey(-10px);


}

.mount-container {
  width: 700px;

  position: absolute;
  transform: translatey(-150px) ;

}

.mountain-container {
  width: 1450px;
  position: absolute;
}

.hills-container {
  width: 1450px;
  position: absolute;
  margin-top: 100px;
}

.ground-container {
  width: 1700px;
position: absolute;
margin-left: 110px;
margin-top: 250px;

}


.opening-container {
  width: 1500px;
  position: absolute;
  transform: translateY(-1000px);
  animation: opening-container 8s;
}

@keyframes opening {
  0% {transform: scale(2) }
  50% {transform: scale(1.2) }
  100% {transform: scale(11);}
}

@keyframes opening-wait {
  0% {transform: scale(2); }
  100% {transform: scale(2); }
}

@keyframes opening-container {
  0% {transform: translate(-10px,-50px);}
  100% {transform: translate(-10px,-50px);}

}

.opening {
  animation: opening-wait 2s, opening 6s 2s;
}
